.login-form {
  display: block;
  margin: 50px;
}

.login-form input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border: blue 2px solid;
  border-radius: 5px;
  padding: 5px;
}
.login-form button{
  color: tomato;
  font-weight: bold;
  background: black;
  padding: 5px;
  border-radius: 8px;
}
